[user]
	name = Mythos_404
	email = mythos_404@outlook.com
[commit]
	template = /home/mythos_404/.gitconf/git-commit-template.txt
[init]
	defaultBranch = main

[core]
	pager = delta
[pager]
	log = rg -v '^    <!-- ' | delta  # or less
[interactive]
	diffFilter = delta --color-only
[delta]
	side-by-side = true

[merge]
	tool = nvimdiff
[mergetool]
	prompt = false
	guiDefault = false
	keepBackup = false
